[submodule "nlw-server"]
	path = nlw-server
	url = https://github.com/gustavohc07/nlw-server.git
[submodule "nlw-web"]
	path = nlw-web
	url = https://github.com/gustavohc07/nlw-web.git
[submodule "nlw-mobile"]
	path = nlw-mobile
	url = https://github.com/gustavohc07/nlw-mobile.git
